<br />
<p class="shadow-lg bg-slate-200 text-center tracking-tight text-xl font-mono">
  edit-books works!
</p>
<div class="p-6 bg-stone-300">
  <div><span>title: </span>{{ sampleBook.title }}</div>
  <div><span>id: </span>{{ sampleBook.id }}</div>
  <div><span>author: </span>{{ sampleBook.author }}</div>
  <div><span>year of publication: </span>{{ sampleBook.publicationYear }}</div>
  <div><span>classification: </span>{{ sampleBook.type }}</div>
  <div><span>notes: </span>{{ sampleBook.summary }}</div>
</div>
